<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/style-partials.css" />
    <link rel="icon" href="/favicon.png" type="image/PNG">
    <title>Tam's Corner</title>
  </head>

  <body>
    <div class="container">
      <div class="hero">
        <div class="">
          <img src="/images/logo-2.png" alt="logo" width="200"/>
          <h1 class="hero-title">Welcome to TamCorner</h1>
          <p class="hero-text">
            My little space where I share the things I love and what inspires me. This is also a simple website I built while learning web development, a place to explore my interests and creativity. And, of course, all posts are in my native language, Vietnamese.
          </p>
          <a href="/create" class="btn second">Create New Post</a>
        </div>
      </div>

      <div class="main">
        <header>
          <h2 class="web-name">👑<span class="name">TAM</span>CORNER</h2>
          <ul class="nav-container">
            <li class="nav">
              <a
                class="<%= locals.homeActive ? 'link active' : 'link' %>"
                href="/"
              >
                HOME
              </a>
            </li>
            <li class="nav">
              <a
                class="<%= locals.createActive ? 'link active' : 'link' %>"
                href="/create"
              >
                CREATE
              </a>
            </li>
          </ul>
        </header>
        <main>