header {
  /* background-color: var(--third-color); */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}

.web-name {
  color: var(--second-color);
  font-family: var(--font);
}

.name {
  color: var(--first-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 175px;
}

.nav {
  display: inline-block;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--second-color);
  font-family: var(--font);
  font-weight: 700;
}

.link:hover {
  color: var(--hover);
  text-shadow: none;
}

.active {
  color: var(--first-color);
  font-weight: bolder;
  text-shadow: 2px 2px 4px var(--second-color);
}

footer {
  color: var(--first-color);
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

.hero {
  flex: 1;
  padding: 0 50px;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      var(--hero-bachground)
    ),
    url("/images/background.jpeg");;
  /* background: url("/images/background.jpeg"); */
  background-size: 100% 100%, cover;
}

.hero>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--hero-bachground); */
  padding: 75px 0;
  /* box-shadow: 0 0 100px var(--box-shadow); */
}

.hero-title {
  color: var(--hero-text);
  font-size: 3rem;
  padding: 15px 0;
  text-align: center;
  font-family: var(--title-font);
}

.hero-text {
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column; /* stack header and main */
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

header {
  flex: 0;
  padding: 10px 150px;

  border-bottom: solid 2px var(--posts-border);
}

/* main {
  flex: 1;
  overflow-y: auto;
} */

/* Scrollbar styling */
.main::-webkit-scrollbar {
  width: 15px;
}

.main::-webkit-scrollbar-track {
  background: var(--bachground-color);
  border-radius: 20px;
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--roller-color);
  border-radius: 20px;
  border: 2px solid var(--bachground-color);
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: var(--roller-thumb-color);
}

.contact {
  margin: 10px 0;
}

.contact>a {
  margin: 0 25px;
}

.contact img {
  width: 20px;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}