:root {
  --first-color: #683B2B;
  --first-color-opacity: #683b2baf;
  --second-color: #B08407;
  --third-color: #D49E8D;
  --third-color-opacity: #d49d8dbb;
  --fourth-color: #DED1BD;
  --fifth-color: #ffffff;
  /* --fifth-color: #FAF6F2; */

  --dark: black;

  --font: "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif";

  --bachground-color: var(--fifth-color);
  --roller-color: var(--second-color);
  --roller-thumb-color: var(--first-color);

  --hover: var(--third-color);

  --hero-bachground: var(--third-color-opacity);
  --hero-text: var(--dark);

  --btn-bachground: var(--fourth-color);
  --btn-bachground-hover: var(--third-color);
  --btn-bachground-hover-s: var(--second-color);
  --btn-text-color: var(--dark);

  --posts-border: var(--third-color);
  --post-date: #444343;

  --title-font: 'Roxborough CF', serif;
  --text-font: "Lora", serif;

  --text-size: 1.1rem;
  --title-size: 2.5rem;
  --hero-title-size: 3rem;
  --button-size: 1.5rem;
}

@font-face {
  font-family: 'Roxborough CF';
  src: url('/font/roxborough-cf-regular.woff2') format('woff2'),
       url('./assets/font/roxborough-cf-regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;  
}

body {
  background-color: var(--bachground-color);
  font-family: var(--text-font);
  color: var(--hero-text);
  font-size: var(--text-size);
}


p, h1, h2, h3{
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  border: none;
  color: var(--btn-text-color);
  cursor: pointer;
  font-size: var(--text-size);
}

.primary {
  background-color: var(--btn-bachground);
  font-size: var(--button-size);
  
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding: 25px;
  line-height: 1; 

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.primary:hover {
  background-color: var(--btn-bachground-hover);
  color: var(--bachground-color)
}

.second {
  margin: 15px;
  background-color: var(--bachground-color);
  padding: 5px 10px;
  border-radius: 10px;
}

.second:hover {
  background-color: var(--btn-bachground);
  box-shadow: 2px 2px 4px var(--first-color-opacity);
}

.third {
  padding: 10px 20px;
  background-color: var(--btn-bachground);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100px;
  text-align: center;
}

.third:hover {
  background-color: var(--btn-bachground-hover);
  color: var(--bachground-color)
}

.post {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px var(--posts-border);
  padding: 50px 175px;
}

.post-title {
  font-size: 2.5rem;
  font-size: var(--title-size);
  text-align: center;
}

.post-date {
  color: var(--post-date);
}

.video-container {
  border-radius: 15px;
}

.video-container video {
  border-radius: 15px;
  width: 100%;
}

.quote-container {
  width: 100%;
  text-align: left;
  font-weight: 500;
  line-height: 2rem;
  font-family: var(--text-font);
}

.post-btn-container {
  width: 100%;
}


/******************
****Create Post**** 
*******************/

input, textarea{
  display: block;
}

.create_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.create_main label {
  display: block;
  font-size: var(--text-size);
  margin: 20px 0 5px 0;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: var(--text-size);
  border: solid 1px var(--posts-border);
  border-radius: 10px;
}

.form-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}